{% block fos_user_content %}
{% include "::header.html.twig" %}

    {% block body %}
        {% for blog in blogs %}
            <div class="blog-tabs">
                <ul class="blog-section">
                    <li class="blog-artical">
                        <div class="blog-artical-head">
                            <img src="http://localhost{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large">
                            <ul class="artical-date">
                                <li><a href="#"><time datetime="{{ blog.created|date('b') }}">{{ blog.created|date('l, F j, Y') }}</time></a></li>
                                <li><a class="text-icon" href="#"></a>{{blog.author}}</li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="artical-info">
                            <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}"><h4>{{ blog.title }}</h4></a>
                            <p>{{ blog.blog(500) }}...</p>
                        </div>
                        <div class="artical-related-info">
                            <div class="artical-related-info-row">
                                <ul class="artical-related-info-row-left">
                                    <li><a class="view" href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}"><span> </span>4,200</a></li>
                                    <li><a class="comment-icon" href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}"><span> </span><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">{{ blog.comment }} comments</a></li>
                                </ul>
                                <ul class="artical-related-info-row-right">
                                    <li><a class="articl-readmore" href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Lire la suite</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% else %}
            <p>La base de données contient aucun article</p>
        {% endfor %}
    {% endblock %}











{% block body %}
{% for blog in blogs %}
    {% include "::article.html.twig" %}
    <div class="blog-tabs">
        <ul class="blog-section">
            <li class="blog-artical">
                <div class="blog-artical-head">
                    <img class="artical-img" src="images/slider1.jpg" alt="">
                    <ul class="artical-date">
                        <li><a href="#"><time datetime="{{ blog.created|date('b') }}">{{ blog.created|date('l, F j, Y') }}</time></a></li>
                        <li><a class="text-icon" href="#"> </a></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="artical-info">
                    <a href="#"><h4>What is lorem ipsum ?</h4></a>
                    <p>making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
                <div class="artical-related-info">
                    <div class="artical-related-info-row">
                        <ul class="artical-related-info-row-left">
                            <li><a class="view" href="#"><span> </span>3,152</a></li>
                            <li><a class="comment-icon" href="#"><span> </span>21 comments</a></li>
                        </ul>
                        <ul class="artical-related-info-row-right">
                            <li><a class="articl-readmore" href="#">Read More</a></li>
                        </ul>
                        <div class="clear"> </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>aaaaaa
    <article class="blog">
            <header>
                <div class="date"><time datetime="{{ blog.created|date('b') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
                <h2>{{ blog.title }}</h2>
            </header>
            <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
            <div>
                <p>{{ blog.blog }}</p>
            </div>
        </article>

            <section class="comments" id="comments">
                <section class="previous-comments">
                    <h3>Comments</h3>
                    {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
                </section>

                <h3>Add Comment</h3>
                {% render url('BloggerBlogBundle_comment_new', { 'blog_id': blog.id }) %}
            </section>

        {% else %}
            <p>Pas d'article avec cet id</p>
        {% endfor %}
    {% endblock %}
    {% include "::footer.html.twig" %}
{% endblock fos_user_content %}